<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewreport" content= "width=device-width, initial-scal=1.0">
    <title> Crop Recommendation System</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css"></link>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet"></link>
</head>
<style>
    
    
    
    </style>
    </head>       
    <body>
      <header>  
        
        <nav class="navbar">
            
            
                
                     <a href="{{ url_for('home')}}">HOME</a>
					 <a href="{{ url_for('about')}}">ABOUT</a>
                     <a href="{{ url_for('login')}}">LOGIN</a>
                     <a href="{{ url_for('register')}}">REGISTER</a>
            
            
        </nav>
    </header>
    <div class="container">
<div class="box">
        <div class="centered">Predicting Crops Using Machine Learning Algorithms</div>
        
        <div class ="btn-wrapper">
            <button class="submit" ><a href="{{ url_for('cr')}}">PREDICT CROP</a></button>

            <button class="submit"><a href="{{ url_for('crop')}}">SOIL PARAMETERS</a></button>
        </div>

        </div>
</div>
        
          
    </body>
</html>