#div1{
width:100%;
height:100px;
background-color:#8fcfd1;
border-bottom: 2px solid green;
}

.p1
{
font-size:30px;
color:black;
padding-top:25px;
padding-left:10px;
font-family:"HERCULANUM";
}

#menu {

height:70px;
width:100%;
padding-top:20px;
background-color:#8fcfd1;
border-style:solid;
border-bottom: 2px solid green;

}

#menu ul li
{
display:inline;
margin-left:260px;
color:yellow;
}

#menu ul li a
{

border-style:solid;
border-width:2px;
color:green;
background-color:#f2b166;
margin-top:120px;
padding:10px;
font-family: Arial, Helvetica, sans-serif;
}

