<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> About </title>
    <link href="static/css/abouts.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="div1">
    <p class="p1"> Croppy</p>
</div>


    
<div id ="div2">

    <p class="p2"><center><b>Overview:</b></center>
		<br>The Crop Recommendation System aims to provide information to the farmers on the soil and crop characteristics.With this information the farmer can understand which crop can be cultivated based on the soil features.This will further give insights on how to grow the crops throughtout the year to increase their profit. </br>
	Process:
	The software compares the inputted soil with the authorized government soil database.When a certain type of soil matches with the soil database,the list of crops that the particular soil matches is displayed as output by comparing with the crop database.Similarly,the siutable soil for the particular crop is found by comparing it with soil database and pointing out the discrepancies in the soil if any.
		<br> <b>Features: </b></br>
	<b>Recommends crop feature:</b>
		<br>For the inputted soil values,the software recommends a list of crops suitable to grow.</br>
	<b>Recommends soil condition feature:</b>
	<br>For the inputted soil values along with the crop name,the software recommends the soil conditions suitable for the crop.</br>
	<b>Restore:</b>
<br>The restore option enters the previously stored values of soil in that farmer id.</br>
<b>Benefits:</b>
<br>*Provides a list of crops for a particular soil condition.</br>
	<br>*Acts as a knowledge source for the farmers to understand which crop will or will not grow for particular soil condition.</br>
	<br>*If the crop chosen by the farmer will not grow for the inputted soil values,then the software suggests alternatives to implement on the soil. </br> </p>  </div>



</body>
</html>