<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>

    <title>Register Page</title>

</head>
<body>
   <div class="boxs">
    <div class="containers">

        <div class="top">
            <span>Haven't account?</span>
            <header>REGISTER HERE</header>
        </div>
	<form action="{{url_for('register')}}" method = "POST">

        <div class="input-field">
            <input type="text" class="input" placeholder="Username" name="name">
            <i class='fa fa-user-circle' ></i>
        </div>

        <div class="input-field">
            <input type="text" class="input" placeholder="Email-ID" name="username" >
            <i class='fa fa-envelope' ></i>
        </div>

        <div class="input-field">
            <input type="Password" class="input" placeholder="Password" name="password">
            <i class='fa fa-lock'></i>
        </div>

        <div class="input-field">
            <input type="submit" class="submit" value="Register" >
        </div>
    </form>
        <div class="two-col">
            <div class="two">
                <label>Already Member? <a href="{{ url_for('login')}}">Login Here</a></label>
            </div>
        </div>
		
    </div>
</div>  
</body>
</html>